<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Web Synth by Kyle Burke</title>
	<meta name="description" content="WebSynth">
	<!-- <meta name="author" content="SitePoint"> -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body id="web-container">
	<div ng-app="synthesizer">
		<div ng-controller="SynthController" class="clearfix">
			<input type="text" name="" value="" ng-keypress="keyPressed($event)" ng-keyup="keyReleased($event)">
			<div ng-hide="noMidi" ng-class="{messageFinished: messageDelivered}">
				<select ng-model="activeDevice" class="form-control midi-dropdown" ng-options="device.manufacturer + ' ' + device.name for device in devices">
				    <option value="" disabled>Choose a MIDI device...</option>
				</select>
			</div>

			<div class="midi-dropdown" ng-show="noMidi" ng-class="{messageFinished: messageDelivered}">
				<h3>{{noMidiMessage}}</h3>
			</div>

			<div class="full">
				<div class="clearfix">
					<div ng-repeat="oscillator in synth.oscillators track by $index" class="quarter-cont" ng-class="{notActive:!oscillator.active}">
						<div class="osc{{$index+1}}">
							<div class="oscLight" ng-class="{ 'on': keyCurrentlyPressed && oscillator.active}">+</div>

							<h1>Oscillator {{::$index}}</h1>

							<div>
								<select ng-model="oscillator.wavForm" ng-options="wav for wav in wavForms">
								</select>
								<button ng-click="oscillator.active = !oscillator.active" type="button" class="btn btn-default">power</button>
							</div>


							<h6>Sub Bass - {{oscillator.subVolume}} db</h6>
							<md-slider flex min="-50" max="0" ng-model="oscillator.subVolume" aria-label="red" id="red-slider"></md-slider>
							<h6>Attack - {{oscillator.attack / 1000}} seconds</h6>
							<md-slider flex min="0" max="10000" ng-model="oscillator.attack" aria-label="red" id="red-slider"></md-slider>
							<h6>Decay - {{oscillator.decay / 1000}} seconds</h6>
							<md-slider flex min="0" max="10000" ng-model="oscillator.decay" aria-label="red" id="red-slider"></md-slider>
							<h6>Sustain - {{oscillator.sustain / 1000}} volume</h6>
							<md-slider flex min="0" max="1000" ng-model="oscillator.sustain" aria-label="red" id="red-slider"></md-slider>
							<h6>Release - {{oscillator.release / 1000}} seconds</h6>
							<md-slider flex min="0" max="10000" ng-model="oscillator.release" aria-label="red" id="red-slider"></md-slider>
						</div>
					</div>



					<div ng-repeat="filter in synth.filters track by $index" class="quarter-cont">
						<div class="osc1">
							<div>
								<h1>Filter {{}}</h1>
								<div>
									<h6>Filter Type</h6>
									<select 
										ng-model="fDefault[$index].type" 
										ng-change="synth.changeFilterType($index, fDefault[$index].type)" 
										ng-options="filter for filter in filterTypes">
									</select>

									<h6>Filter Rolloff</h6>
									<select 
										ng-model="fDefault[$index].roll"
										ng-change="synth.changeFilterRollOff($index, fDefault[$index].roll)"
										ng-options="roll for roll in filterRolloff">
									</select>
								</div>
								<h6>{{fDefault[$index].freq}}</h6>
								<md-slider flex 
									min="0"
									max="1000"
									ng-model="fDefault[$index].freq"
									aria-label="blue"
									id="blue-slider"
									ng-change="synth.changeFilterFrequency($index, fDefault[$index].freq)">
								</md-slider>
							</div>
							<hr>
							<div>
								<button ng-click="lfoInit($index, lDefault[$index].type, lDefault[$index].depth, lDefault[$index].rate)" type="button" class="btn btn-default">power</button>
								<h1>LFO</h1>
								<div>
									<h6>Modulation Type </h6>
									<select 
										ng-model="lDefault[$index].type"
										ng-change="synth.changeLFOType($index, lDefault[$index].type)"
										ng-options="type for type in lfoForms">
									</select><br/>
									<h6>Rate</h6>
									<select 
										ng-model="lDefault[$index].rate"
										ng-change="synth.changeLFORate($index, lDefault[$index].rate)"
										ng-options="rate for rate in lfoRates">
									</select>
								</div>
								<div>
									<h6>{{lDefault[$index].min}}</h6>
									<md-slider flex 
										min="0" 
										max="1000" 
										ng-model="lDefault[$index].depth" 
										ng-change="synth.changeLFODepth($index, lDefault[$index].depth)"
										aria-label="blue" 
										id="blue-slider">
									</md-slider>
								</div>
								<!-- <div>
									<h6>{{lDefault[$index].max}}</h6>
									<md-slider flex 
										min="lDefault[$index].min" 
										max="1000" 
										ng-model="lDefault[$index].max" 
										ng-change="synth.changeLFODepth($index, lDefault[$index].max)"
										aria-label="blue" 
										id="blue-slider">
									</md-slider>
								</div> -->
							</div>
						</div>
					</div>

					<div class="clearfix">
						<div class="quarter-cont">
							<div class="osc2">

								<h1>PingPong Delay</h1>
								<div>
									<h6>{{synthPingPong.feedback}}</h6>
									<md-slider flex min="0" max="1000" ng-change="synth.changePPFeedback(synthPingPong.feedback)" ng-model="synthPingPong.feedback" aria-label="blue" id="blue-slider"></md-slider>
								</div>
								<select ng-model="synthPingPong.time" ng-change="synth.changePPTime(synthPingPong.time)" ng-options="rate for rate in lfoRates">
								</select>
							</div>
						</div>

				<div class="quarter-cont">
					<div class="osc2">

						<h1>Chorus Effect</h1>
						<div>
							<h6>WETNESS {{synthChorus.wetness}}</h6>
							<md-slider flex min="0" max="1000" ng-model="synthChorus.wetness" ng-change="synth.changeChorWetness(synthChorus.wetness)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>FREQ {{synthChorus.frequency}}</h6>
							<md-slider flex min="0" max="1000" ng-model="synthChorus.frequency" ng-change="synth.changeChorFreq(synthChorus.frequency)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>DEPTH {{synthChorus.depth}}</h6>
							<md-slider flex min="0" max="1000" ng-model="synthChorus.depth" ng-change="synth.changeChorDepth(synthChorus.depth)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>TIME {{synthChorus.time}}</h6>
							<md-slider flex min="0" max="1000" ng-model="synthChorus.time" ng-change="synth.changeChorDelayTime(synthChorus.time)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
					</div>
				</div>

				<div class="quarter-cont">
					<div class="osc2">

						<h1>Bit Crusher</h1>
						<div>
							<h6>BITS TO CRUSH {{synthBitcrusher.bit}}</h6>
							<md-slider flex min="0" max="8" ng-model="synthBitcrusher.bit" ng-change="synth.changeBCBits(synthBitcrusher.bit)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>WETNESS {{synthBitcrusher.wet}}</h6>
							<md-slider flex min="0" max="1000" ng-model="synthBitcrusher.wet" ng-change="synth.changeBCWet(synthBitcrusher.wet)" aria-label="blue" id="blue-slider"></md-slider>
						</div>
					</div>
				</div>

				<!--<div class="quarter-cont">
					<div class="osc2">

						<h1>Phase Effect</h1>
						<div>
							<h6>BASE {{PHS.base}}</h6>
							<md-slider flex min="0" max="1000" ng-model="PHS.base" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>FREQ {{PHS.freq}}</h6>
							<md-slider flex min="0" max="1000" ng-model="PHS.freq" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>DEPTH {{PHS.depth / 1000}}</h6>
							<md-slider flex min="0" max="1000" ng-model="PHS.depth" aria-label="blue" id="blue-slider"></md-slider>
						</div>
						<div>
							<h6>WETNESS {{PHS.wet / 1000}}</h6>
							<md-slider flex min="0" max="1000" ng-model="PHS.wet" aria-label="blue" id="blue-slider"></md-slider>
						</div>
					</div>
				</div>-->
				</div>
			</div>
		</div>
	</div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- // <script type="text/javascript" src="js/vendor/tone.js"></script> -->
	<script type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>