/*
$col-lest: #FFDDAA;
$col-l: #D7AC6B;
$col-m: #AE7F3A;
$col-d: #865A18;
$col-dest: #5A3601;
.profile-pic {
  float: left;
  width: 250px;
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    float: right;
  }
}

*/
* {
  box-sizing: border-box; }

#web-container {
  background-color: #f3f3f3;
  color: #f3f3f3;
  font-family: 'Poiret One';
  font-weight: 100; }

.quarter-cont {
  width: 50%;
  padding: 10px;
  float: left; }
  @media screen and (max-width: 400px) {
    .quarter-cont {
      width: 100%; } }
  @media screen and (min-width: 800px) {
    .quarter-cont {
      width: 25%; } }

.quarter-cont.notActive {
  opacity: 0.2; }

button.btn {
  background: none;
  padding: 0px 12px;
  text-shadow: none;
  border: none;
  box-shadow: none;
  width: 100%;
  color: #aaa; }

.osc1, .osc2 {
  padding: 10px; }
  .osc1 md-slider .md-track.md-track-fill, .osc2 md-slider .md-track.md-track-fill {
    background-color: #eeee55 !important; }
  .osc1 md-slider .md-thumb:after, .osc2 md-slider .md-thumb:after {
    border-color: #ddd !important;
    background-color: #222 !important; }
  .osc1 input, .osc1 select, .osc2 input, .osc2 select {
    width: 100%;
    display: block;
    color: #222;
    border-radius: 0px;
    font-weight: 400; }
  .osc1 .oscLight, .osc2 .oscLight {
    position: relative;
    right: 0px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: -10px;
    float: right;
    background-color: black;
    text-indent: -9999px; }
    .osc1 .oscLight.on, .osc2 .oscLight.on {
      background-color: #eeee55; }

.full {
  float: left;
  width: 100%;
  background-color: #222; }
  .full h1,
  .full h6 {
    text-align: center; }

h6.label {
  text-align: left;
  display: inline-block;
  color: #333; }

.midi-dropdown {
  width: 100%;
  padding: 20px;
  float: left;
  color: #222;
  transition: 2s; }

.midi-dropdown.messageFinished {
  padding: 0px; }
